@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {
    margin: 1rem 0.5rem;
    padding: 0.5rem 2rem;
    font-size: 17px;
    font-family: Montserrat;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #479C92;
    color: white;
 }
button:hover {
    background-color: #2d5e58;
}

h1 {
    font-family: Montserrat;
    font-size: 65px;
    text-align: left;
    margin-left: 5%;
}

body {
    background-color: black;  /*Черный фон */
    color: white; /* Белый текст для контраста */
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    position: relative; /* Для позиционирования псевдоэлемента */
    overflow: hidden; /* Чтобы изображение не выходило за пределы страницы */
    min-height: 100vh; /* чтобы body занимал высоту окна браузера */
  }

/* Псевдоэлемент для фонового изображения */
body::before {
    content: "";
    background-image: url("../Images/фон\ 2.jpg"); /* Путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-position: center; /* Центрируем изображение */
    opacity: 0.2; /* Прозрачность 20% */
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  
  }
  .button-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    font-size: 0;
  }
  .button-container button {
    margin: 0.5rem 0.5rem;
    padding: 0.7rem 2rem;
    font-size: 17px;
    font-family: Montserrat;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #479C92;
    color: white;
  }
  .button-container button:hover {
    background-color: #2d5e58;
    transition: all 0.3s ease;
  }
  .left-button {
    margin-right: auto; /* Выравнивание первой кнопки по левому краю */
  }
  .right-buttons {
    display: flex;
    z-index: 0;
  }


.grid {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-template-rows: repeat(1, 165px);
  gap: 40%;
  text-align: left;
  margin-left: 5%;
}

.photo img {
  width: 135%;
  padding-top: 50px;
  border-radius: 10px;
}

.text {
  width: 250%;
  font-family: Montserrat;
  font-size: 20px;
  padding-top: 50px;
  line-height: 30px;
}

.line {
  width: 85%;
  border-top: 2px solid #585858;
  margin-left: 5%;
}


